.about {
  display: flex;
  gap: var(--spacing-24);
  width: 124rem;
  margin: 6.4rem auto;
}
.about img {
  width: 40%;
  border-radius: var(--rounded-2xl);
}
.about-description {
  width: 60%;
}
.about-description h1 {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
  margin-bottom: var(--spacing-5);
}
.about-description p {
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  color: var(--gray-700);
  margin-bottom: var(--spacing-6);
}
.about-description .paragraph-bold {
  font-weight: var(--font-semibold);
  color: var(--secondary-400);
}
