.about {
  display: flex;
  gap: var(--spacing-24);
  width: 124rem;
  margin: 6.4rem auto;
  /* background-color: burlywood; */
}

.about-description h1 {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
  margin-bottom: var(--spacing-5);
}

.about-description p {
  font-size: var(--text-xl);
  font-weight: var(--font-medium);
  color: var(--gray-400);
  margin-bottom: var(--spacing-4);
}

.about-description .paragraph-bold {
  font-weight: var(--font-semibold);
  color: var(--gray-50);
}

.blockquote {
  background-color: var(--gray-900);
  padding: var(--spacing-6) var(--spacing-10);
  border-radius: var(--rounded-xl);
  border-left: var(--spacing-3) solid var(--primary-400);
}

.blockquote p {
  color: var(--gray-50);
  margin-bottom: 0;
}
