.headline-1 {
  font-size: var(--text-7xl);
  font-weight: var(--font-bold);
  line-height: 88px;
  color: var(--text-level-1);
  font-family: "Source Serif Pro", serif;
}
.headline-2 {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
  color: var(--text-level-1);
}
.headline-3 {
  font-size: var(--text-4xl);
  line-height: var(--spacing-12);
  font-weight: var(--font-bold);
  color: var(--text-level-1);
}
.subtitle-1 {
  font-size: var(--text-3xl);
  font-weight: var(--font-semibold);
  color: var(--text-level-1);
}
.subtitle-2-semibold {
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  line-height: 36px;
  color: var(--text-level-1);
}
.subtitle-2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-medium);
  line-height: 36px;
  color: var(--text-level-2);
}
.body-1 {
  font-size: var(--text-xl);
  font-weight: var(--font-regular);
  line-height: 30px;
  color: var(--text-level-2);
}
.body-2 {
  font-size: var(--text-lg);
  font-weight: var(--font-regular);
  color: var(--text-level-2);
}
.body-3-bold {
  font-size: var(--text-base);
  font-weight: var(--font-bold);
}
.label-level-1 {
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  color: var(--action-level-2);
}
.label-level-2 {
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  color: var(--action-level-1);
}
.label-level-3 {
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  color: var(--action-level-3);
}
.body-3-medium {
  font-size: var(--text-base);
  font-weight: var(--font-medium);
}
.body-3-regular {
  font-size: var(--text-base);
  font-weight: var(--font-regular);
}
.body-4 {
  font-size: var(--text-sm);
  font-weight: var(--font-regular);
}
.gradient-text {
  color: var(--primary-500);
}
.gradient-disabled {
  background: -webkit-linear-gradient(5deg, var(--gray-600), var(--gray-700));
}
.icon-level-2 {
  stroke: var(--icon-level-2);
}
.icon-level-3 {
  stroke: var(--icon-level-3);
}
