.headline-1 {
  font-size: var(--text-6xl);
  font-weight: var(--font-bold);
  line-height: 88px;
}
.headline-2 {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
}
.headline-3 {
  font-size: var(--text-4xl);
  font-weight: var(--font-bold);
}
.subtitle-1 {
  font-size: var(--text-3xl);
  font-weight: var(--font-semibold);
  color: var(--text-level-1);
}
.subtitle-2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-regular);
  line-height: 36px;
}
.body-1 {
  font-size: var(--text-xl);
  font-weight: var(--font-regular);
  line-height: 30px;
}
.body-2 {
  font-size: var(--text-lg);
  font-weight: var(--font-regular);
}
.body-3-bold {
  font-size: var(--text-base);
  font-weight: var(--font-bold);
}
.body-3-semibold {
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
}
.body-3-regular {
  font-size: var(--text-base);
  font-weight: var(--font-regular);
}
.body-4 {
  font-size: var(--text-sm);
  font-weight: var(--font-regular);
}
.gradient-custom {
  background: -webkit-linear-gradient(
    5deg,
    var(--primary-00),
    var(--primary-40)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
