.headline-1 {
  font-size: var(--text-6xl);
  font-weight: var(--font-bold);
  line-height: 88px;
  color: var(--text-level-1);
}
.headline-2 {
  font-size: var(--text-5xl);
  font-weight: var(--font-bold);
  color: var(--text-level-1);
}
.headline-3 {
  font-size: var(--text-4xl);
  line-height: var(--spacing-10);
  font-weight: var(--font-bold);
  color: var(--text-level-1);
}
.subtitle-1 {
  font-size: var(--text-3xl);
  font-weight: var(--font-semibold);
  color: var(--text-level-1);
}
.subtitle-2-semibold {
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  line-height: 36px;
  color: var(--text-level-1);
}
.subtitle-2 {
  font-size: var(--text-2xl);
  font-weight: var(--font-regular);
  line-height: 36px;
  color: var(--text-level-2);
}
.body-1 {
  font-size: var(--text-xl);
  font-weight: var(--font-regular);
  line-height: 30px;
  color: var(--text-level-2);
}
.body-2 {
  font-size: var(--text-lg);
  font-weight: var(--font-regular);
}
.body-3-bold {
  font-size: var(--text-base);
  font-weight: var(--font-bold);
}
.label-level-1 {
  font-size: var(--text-sm);
  font-weight: var(--font-medium);
  color: var(--action-level-2);
}
.label-level-2 {
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  color: var(--action-level-1);
}
.label-level-3 {
  font-size: var(--text-lg);
  font-weight: var(--font-medium);
  color: var(--action-level-3);
}
.body-3-regular {
  font-size: var(--text-base);
  font-weight: var(--font-regular);
}
.body-4 {
  font-size: var(--text-sm);
  font-weight: var(--font-regular);
}
.gradient-custom {
  background: -webkit-linear-gradient(
    5deg,
    var(--primary-00),
    var(--primary-20)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-ui-desktop {
  background: -webkit-linear-gradient(5deg, #ceab93, #e3caa5);
}
.gradient-ui-mobile {
  background: -webkit-linear-gradient(
    5deg,
    var(--primary-00),
    var(--primary-20)
  );
}
.gradient-ui-motion {
  background: -webkit-linear-gradient(5deg, #ceab93, #e3caa5);
}
.gradient-frutti-stop {
  background: -webkit-linear-gradient(5deg, #ceab93, #e3caa5);
}
.icon-level-2 {
  stroke: var(--icon-level-2);
}
.icon-level-3 {
  stroke: var(--icon-level-3);
}
