/* ------------- Comienzo del Main ------------- */
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.main-container {
  display: grid;
  gap: 2%;
  grid-template-columns: 49% 49%;
  width: 124rem;
  margin: auto;
  margin-top: 20rem;
}
.project-container img {
  height: 100%;
  width: 100%;
  transition: 0.25s;
}
.project-container:hover img {
  box-shadow: 4px 6px 10px 0 rgba(100, 50, 130, 0.3);
  transform: translate(-6px, -6px);
}
.project-container img {
  border-radius: var(--rounded-xl);
}
/* --------- Comienzo del Contact Form --------- */
.contact-form {
  display: flex;
  width: 124rem;
  margin: var(--spacing-28) auto var(--spacing-24);
  border-radius: var(--rounded-2xl);
  background-color: var(--gray-0);
  border: 3px solid var(--gray-100-50);
  position: relative;
}
.contact-form::after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 6px;
  border-radius: 100px 100px 0 0;
  background-color: var(--secondary-400);
  bottom: 1;
  left: 0;
  transition: 0.5s;
}
.contact-form:hover::after {
  width: 100%;
}
.information {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  width: 55%;
  padding: var(--spacing-11) var(--spacing-14);
}
.information-section h2 {
  font-size: var(--text-3xl);
  font-weight: var(--font-bold);
  margin-bottom: var(--spacing-1);
}
.information-section p {
  font-size: 1.7rem;
  line-height: var(--spacing-6);
  font-weight: var(--font-medium);
  color: var(--gray-500);
}
.information .networking-container {
  width: 80%;
}
.btn-secondary {
  color: var(--gray-50);
  background-color: var(--gray-800);
}
.btn-secondary:hover {
  background-color: var(--gray-990);
}
.balls {
  width: 50%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  user-select: none;
}
.ball-1 {
  position: relative;
  top: 55px;
  right: -95px;
  animation: float-contact 35s linear infinite;
}
.ball-2 {
  position: relative;
  top: 160px;
  right: -215px;
  animation: float-contact-2 40s linear infinite;
}
/* ---------- Comienzo del Footer ---------- */
.footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding-bottom: var(--spacing-6);
}
.footer p {
  color: var(--gray-600);
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
}
.name-color {
  color: var(--secondary-500);
}
/* --------- Animations/Transitions --------- */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes float-ball {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-180px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float-ball-2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(180px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float-contact {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(60px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float-contact-2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-60px);
  }
  100% {
    transform: translatey(0px);
  }
}
