@media screen and (max-width: 1280px) {
  /* --------------- Nav bar ---------------- */
  .nav {
    padding: 0 var(--spacing-9) 0 var(--spacing-16);
  }
  .nav-desktop {
    width: 100%;
    padding: 0 var(--spacing-16);
  }
  /* ------------ Section Header ------------- */
  .section-header {
    margin: var(--spacing-28) var(--spacing-16) var(--spacing-40);
  }
  /* ------------- Main ------------- */
  .main-container {
    width: 100%;
    padding: 0 var(--spacing-16);
  }
  .project-container {
    flex-direction: column;
  }
  .project-description {
    width: 100%;
  }
}
/* ----------- Tablet & Mobile ----------- */
@media screen and (max-width: 1023px) {
  body {
    height: 100%;
    overflow: hidden;
  }
  .background-hero {
    display: none;
  }
  .responsive-time {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #ffffff;
    width: 100vw;
    height: 100%;
    overflow: hidden;
  }
  .responsive-time-paragraph {
    text-align: center;
    font-size: var(--text-2xl);
    font-weight: 600;
    color: var(--gray-140);
  }
}
