/*@media screen and (max-width: 1366px) {
  /* ----------------- Comienzo del nav-bar ----------------- */
  /*.nav-desktop {
    width: 94%;
  }

  /* ----------------- Comienzo del header ----------------- */
  /*.header-container {
    width: 90%;
    height: 95vh;
  }
  /* 
  .header-text .h1 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl);
  } */

  /*.header-text .paragraph {
    font-size: var(--text-xl);
  }
}

@media screen and (max-width: 640px) {
  /* ----------------- Comienzo del nav-bar ----------------- */
  .nav-desktop {
    display: none;
    width: 88%;
  }

  .nav-mobile {
    display: flex;
  }

  .nav-mobile a {
    cursor: pointer;
  }

  .nav-mobile .nav-menu-mobile-actived {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--gray-900);
    position: absolute;
    top: 64px;
    left: 0px;
  }

  .nav-menu-mobile-actived {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .nav-menu-mobile-actived .links-mobile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 20%;
  }

  .nav-menu-mobile-actived a {
    color: var(--gray-50);
    font-size: var(--text-2xl);
    font-weight: var(--font-semibold);
    text-decoration: none;
  }

  .nav-networking-mobile {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 112px;
  }
  /* ----------------- Comienzo de la animacion del menu mobile ----------------- */

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 2px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }

  #bar-invi {
    opacity: 0;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #menu-mobile.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #menu-mobile.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(2px) rotate(45deg);
    -ms-transform: translateY(2px) rotate(45deg);
    -o-transform: translateY(2px) rotate(45deg);
    transform: translateY(2px) rotate(45deg);
  }

  #menu-mobile.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }

  .menu-toggle,
  .bar {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(0%) !important;
  }
}
