@media screen and (max-width: 1366px) {
  /* ----------------- Comienzo del nav-bar ----------------- */
  .nav-desktop {
    width: 94%;
  }

  /* ----------------- Comienzo del header ----------------- */
  .header .header-container {
    width: 90%;
    height: 95vh;
  }

  .header .header-container .header-text .h1 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl);
  }

  .header .header-container .header-text .paragraph {
    font-size: var(--text-xl);
  }
}

@media screen and (max-width: 640px) {
  /* ----------------- Comienzo del nav-bar ----------------- */
  .nav .nav-desktop {
    display: none;
  }

  .nav .nav-mobile {
    display: flex;
  }

  .nav-mobile .logo {
    font-size: var(--text-xl);
  }

  .nav-container #link-container a {
    font-size: var(--text-sm);
  }

  .nav .nav-mobile .div {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: brown;
    position: absolute;
    top: 64px;
    left: 0px;
  }
}
