:root {
  --gray-0: #ffffff;
  --gray-20: #f3f3f4;
  --gray-40: #dadade;
  --gray-40-50: #dadadeed;
  --gray-60: #b5b5bc;
  --gray-80: #91919b;
  --gray-100: #6d6d78;
  --gray-120: #575760;
  --gray-140: #28282c;
  --gray-150: #19191c;
  --gray-160: rgb(20, 20, 22);
  --gray-180: rgb(13, 13, 14);
  --gray-180-90: rgba(22, 22, 24, 0.96);

  --primary-00: #77aff1;
  --primary-20: #3387e9;
  --primary-40: #1462bd;
  --primary-60: #0f4a8e;
  --primary-80: #0a315f;

  --text-sm: 1.5rem;
  --text-base: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2rem;
  --text-2xl: 2.4rem;
  --text-3xl: 2.8rem;
  --text-4xl: 3.6rem;
  --text-5xl: 4.8rem;
  --text-6xl: 6rem;
  --text-7xl: 7.2rem;
  --text-8xl: 8rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-extrabold: 900;

  --rounded-sm: 0.2rem;
  --rounded: 0.4rem;
  --rounded-dm: 0.6rem;
  --rounded-lg: 0.8rem;
  --rounded-xl: 1.2rem;
  --rounded-2xl: 1.6rem;
  --rounded-3xl: 2.4rem;
  --rounded-full: 50rem;

  --spacing-1: 0.4rem;
  --spacing-1-5: 0.6rem;
  --spacing-2: 0.8rem;
  --spacing-2-5: 1rem;
  --spacing-3: 1.2rem;
  --spacing-3-5: 1.4rem;
  --spacing-4: 1.6rem;
  --spacing-5: 2rem;
  --spacing-6: 2.4rem;
  --spacing-7: 2.8rem;
  --spacing-8: 3.2rem;
  --spacing-9: 3.6rem;
  --spacing-10: 4rem;
  --spacing-11: 4.4rem;
  --spacing-12: 4.8rem;
  --spacing-14: 5.6rem;
  --spacing-16: 6.4rem;
  --spacing-20: 8rem;
  --spacing-24: 9.6rem;
  --spacing-28: 11.2rem;
  --spacing-32: 12.8rem;
  --spacing-36: 14.4rem;
  --spacing-40: 16rem;
}
