:root {
  /* Colors */
  --gray-50: #f3f3f4;
  --gray-100: #dadade;
  --gray-200: #b5b5bc;
  --gray-300: #91919b;
  --gray-400: #6d6d78;
  --gray-500: #575760;
  --gray-600: #28282c;
  --gray-700: #19191c;
  --gray-800: #141416;
  --gray-900: #0d0d0e;
  --gray-900-70: #18181bb3;
  --gray-900-96: #19191cf5;

  --primary-0: #9393e2;
  --primary-00: #6bb0ff;
  --primary-20: #64a0e6;
  --primary-40: #0a62c7;
  --primary-60: #0f4a8e;
  --primary-80: #0a315f;

  --text-sm: 1.4rem;
  --text-base: 1.6rem;
  --text-lg: 1.8rem;
  --text-xl: 2rem;
  --text-2xl: 2.4rem;
  --text-3xl: 3rem;
  --text-4xl: 3.6rem;
  --text-5xl: 4.8rem;
  --text-6xl: 6rem;

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --rounded: 0.4rem;
  --rounded-lg: 0.8rem;
  --rounded-xl: 1.2rem;
  --rounded-2xl: 1.6rem;
  --rounded-3xl: 2rem;
  --rounded-4xl: 2.4rem;
  --rounded-full: 50rem;

  /* Aca estoy usando 62.5% para setear el font-root*/
  --spacing-1: 0.4rem;
  --spacing-2: 0.8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.6rem;
  --spacing-5: 2rem;
  --spacing-6: 2.4rem;
  --spacing-7: 2.8rem;
  --spacing-8: 3.2rem;
  --spacing-10: 4rem;
  --spacing-12: 4.8rem;
  --spacing-14: 5.6rem;
  --spacing-16: 6.4rem;
  --spacing-20: 8rem;
  --spacing-24: 9.6rem;
  --spacing-28: 11.2rem;
  --spacing-32: 12.8rem;
  --spacing-36: 14.4rem;
  --spacing-40: 16rem;
  --spacing-44: 17.6rem;
  --spacing-48: 19.2rem;
  --spacing-52: 20.8rem;

  --text-level-1: var(--gray-50);
  --text-level-2: var(--gray-300);
  --text-level-2-hover: var(--gray-50);

  --action-level-1: var(--gray-50);
  --action-level-1-hover: var(--primary-20);
  --action-level-2: var(--gray-300);
  --action-level-2-hover: var(--gray-50);
  --action-level-3: var(--primary-20);

  --icon-level-1: var(--gray-50);
  --icon-level-2: var(--primary-20);
  --icon-level-3: var(--gray-400);

  --background-level-1: var(--gray-900);
  --background-level-2: var(--gray-700);
  --background-level-3: var(--gray-600);
  --background-opacity-70: var(--gray-900-70);
  --background-opacity-96: var(--gray-900-96);

  --border-level-1: var(--gray-600);
  --border-level-2: var(--gray-500);
  --border-hover: var(--primary-20);
}
