.main-container {
  margin-top: 12rem;
}
.portadaimg {
  width: 100%;
}
.shots {
  width: 90%;
  max-width: 124rem;
}
article {
  width: 100%;
}
.container-article {
  width: 100%;
  background-color: var(--gray-160);
  padding: 6rem;
  display: flex;
  justify-content: center;
  border-radius: 1.6rem;
}
.container-article img {
  width: 80%;
  border-radius: 1rem;
}
.main-container {
  gap: var(--spacing-16);
}
