.nav {
  border-bottom: 1px solid var(--border);
  background-color: var(--background-opacity-96);
}
.main-container {
  display: flex;
  flex-direction: column;
  margin-top: 20rem;
}
.portada {
  /* width: 94%; */
  margin: -100px auto;
}
.portadaimg {
  width: 100%;
  /* border-radius: var(--rounded-2xl); */
}
.shots {
  width: 90%;
  max-width: 124rem;
}
article {
  width: 100%;
}
.container-article {
  width: 100%;
  background: -webkit-linear-gradient(
    5deg,
    var(--primary-00),
    var(--primary-20)
  );
  padding: var(--spacing-14);
  display: flex;
  justify-content: center;
  border-radius: var(--rounded-4xl);
}
.container-article img {
  border-radius: var(--rounded-2xl);
}
.main-container {
  gap: var(--spacing-16);
}
